<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}

            <link href="{{ asset('css/main.css') }}"  rel="stylesheet />

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">    <img src="" id="big">

            <div id="header">
                <a href="{{ path('mars_rover') }}">Mars</a>

                <a href="{{ path('flickr_flickr_homepage') }}">Flickr Gallery</a>
            </div>
                {% block body %}{% endblock %}


                {% block javascripts %}

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

                {% endblock %}
        </div>
    </body>
</html>
