<table border='1'>
    {% for key, photo in data['allPhotos'] %}

        <tr class="click">
            <td><img src="{{ data['sizes'][key][0].source }}" foo="{{ data['bigPhotoUrl'][key] }}"></td>
            <td><p>{{ photo.title }}</p></td>
            <td><a href="{{ data['url'][key] }}">>>></a></td>
        </tr>

    {% endfor %}

</table>