html{color:#000;}body,div,p,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}
#big{
    width:100%;
    height:100%;
    background:#c4fdc7;
    position:fixed;
    left:100%;
}
#none{
    display: none;
}
#block{
    background: red;width: 100px;height: 100px;display: block;margin-left: 1000px;
}
.active{
    display: block !important;
}
#active{
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;height: 32px;
    background: url('143341460782.gif') center no-repeat;
}